

<!-- assignedusers -->
<div class="user-delegation-course-cont">
    <div>
        <h2>{{unassignedusersstr}}</h2>
    </div>
    <div class="user-delegation-userlist">
        {{#users}}
        <div class="user-delegation-user"><img src="{{{pixurl}}}" />{{firstname}} {{lastname}}</div>
        {{/users}}
    </div>
</div>
<!-- /assignedusers -->
